* { 
    margin: 0; 
    padding: 0; 
}

#calculator-body {
    width: 240px;
    height: 310px;
    margin: 10% auto
}

.calculator-row {
    display: flex;
    flex-direction: row;
}

.calculator-row button {
    width: 60px;
    height: 60px;
}

#btn-clear, #btn-del {
    width: 160px;
    height: 30px;
}

#calculator-dispaly {
    width: 100%;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    text-align: right;
}

#previous {
    font-size: 15px;
    height: 16px;
    margin: 2px;
}

#current {
    font-size: 25px;
    height: 26px;
}
